<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User list</title>
</head>

<body>
    <h1>All Users</h1>
    <form action="/users" method="post">
        <input type="text" name="name" placeholder="Enter name" required>
        <input type="text" name="email" placeholder="Enter email" required>
        <input type="number" name="age" placeholder="Enter Age" required>
        <button type="submit">Add User</button>
    </form>
    <ul>
        <% users.forEach(user=> { %>
            <li>
                <%= user.name %> | <%= user.email %> |<%= user.age %>
            </li>
            <% }) %>
    </ul>
</body>

</html>